/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


/* index.css or globals.css */

.MuiOutlinedInput-root {
    font-size: 9pt;
}

.MuiInputLabel-root {
    font-size: 9pt;
}

.MuiSelect-select {
    font-size: 9pt;
}

.MuiAutocomplete-input {
    font-size: 9pt;
}

.MuiButton-root {
    font-size: 9pt;
    text-transform: none;
    /* Prevent capitalization */
}

.MuiTypography-root {
    font-size: 9pt;
}


